<%= form_tag import_path, remote: true, multipart: true do %>
    <fieldset class="import_form">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 file_field">
                <%= file_field_tag :file %>
            </div>
            <div class="col-sm-12 col-sm-12 col-xs-12">
                <%= submit_tag "Import", class:"submit_csv" %>
            </div>
        </div>
    </fieldset>
<% end %>