<div class="top_nav">
    <div class="nav_menu nav-white">
        <nav>
            <div class="nav toggle">
                <% if active == "Dashboard" || active == "Dashboard" %>

                <% end %> 
            </div>
        </nav>
    </div>
</div>
